.flex {
	display: flex;
	flex-wrap: wrap;
}

.f-column {
	display: flex;
	flex-direction: column;
}

.j-between {
	justify-content: space-between;
}

.a-center {
	align-items: center;
}

.j-center {
	justify-content: center;
}

.a-end {
	align-items: flex-end;
}

.a-start {
	align-items: flex-start;
}

.row {
	display: flex;
	margin: -15px;
	flex-wrap: wrap;
	align-items: flex-start;
}

#scroll-body::-webkit-scrollbar-track {
	height: 15px;
	background-color: #f5f5f5;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

#scroll-body::-webkit-scrollbar {
	width: 8px;
	border-radius: 10px;
	background-color: #f5f5f5;
}

#scroll-body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(108, 117, 125, .8);
}

.main-container {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400px;
	display: flex;
	width: 100%;
}

.main-container .hamburger {
	position: fixed;
	z-index: 11;
	top: 5%;
	right: 4%;
	display: none;
	width: 45px;
	height: 40px;
	cursor: pointer;
	border: 1px solid #d4d4e3;
	border-radius: 5px;
	background: #fdf9ff;
}

.main-container .hamburger .line {
	display: block;
	width: 20px;
	height: 2px;
	margin: 8px auto;
	transition: all .3s ease-in-out;
	background: #ec1839;
}

.main-container #hamburger-1.is-active .line:nth-child(2) {
	opacity: 0;
}

.main-container #hamburger-1.is-active .line:nth-child(1) {
	transform: translateY(10px) rotate(45deg);
}

.main-container #hamburger-1.is-active .line:nth-child(3) {
	transform: translateY(-10px) rotate(-45deg);
}

.main-container .aside {
	position: fixed;
	z-index: 1011;
	top: 0;
	left: 0;
	width: 270px; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100%;
	padding: 30px;
	border-right: 1px solid #e8dfec;
	background: linear-gradient(to right, #232526, #414345);
}

.main-container .aside .logo .circle-logo {
	position: relative;
	overflow: hidden;
	width: 80px;
	height: 80px;
	border: 1px solid rgba(128, 128, 128, .5);
	border-radius: 50%;
}

.main-container .aside .logo .circle-logo img {
	position: absolute;
	top: -40%;
	width: 120%;
	height: 140%;
	-o-object-fit: cover;
	object-fit: cover;
}

.main-container .aside .title-logo {
	margin-top: 10px;
}

.main-container .aside .title-logo a {
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}

.main-container .aside .nav {
	margin: 80px 0;
}

.main-container .aside .nav li a {
	font-size: 16px;
	font-weight: 600;
	line-height: 45px;
	display: block;
	transition: all .3s ease;
	text-transform: capitalize;
	color: #fff;
	border-bottom: 1px solid #e8dfec;
}

.main-container .aside .nav li a i {
	margin-right: 5px;
}

.main-container .aside .nav li a:not(.active):hover {
	padding-left: 5px;
	color: #ec1839;
}

.main-container .aside .nav li a.active {
	color: #ec1839;
}

.main-container .aside .design {
	font-size: 13px;
	margin-top: 200px;
	color: #7d7d7d;
	text-align: center;
}

.main-container .main-content {
	width: 100%;
	height: 100vh;
	padding-left: 270px;
	background: linear-gradient(to right, #232526, #414345);
}

.main-container .main-content .home {
	position: relative;
	height: 100vh;
	background: linear-gradient(to right, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-container .main-content .home .effect-wrap {
	height: 100vh;
}

.main-container .main-content .home .effect-wrap .effect {
	position: absolute;
	z-index: 99;
}

.main-container .main-content .home .effect-wrap .effect.effect-1 {
	right: 25%;
	bottom: 50%;
	width: 30px;
	height: 30px;
	-webkit-animation: spin 10s linear infinite;
	animation: spin 10s linear infinite;
	border: 4px solid #8a49ff;
}

.main-container .main-content .home .effect-wrap .effect.effect-2 {
	top: 70%;
	left: 80%;
	-webkit-animation: spin 10s linear infinite;
	animation: spin 10s linear infinite;
}

.main-container .main-content .home .effect-wrap .effect.effect-2 i {
	font-size: 25px;
	color: #fc0;
}

.main-container .main-content .home .effect-wrap .effect.effect-3 {
	top: 80%;
	left: 5%;
	-webkit-animation: spin 10s linear infinite;
	animation: spin 10s linear infinite;
}

.main-container .main-content .home .effect-wrap .effect.effect-3 i {
	font-size: 25px;
	color: #fc0;
}

.main-container .main-content .home .effect-wrap .effect.effect-4 {
	top: -10%;
	left: 50%;
	width: 130px;
	height: 130px;
	-webkit-animation: swing 4s linear alternate infinite;
	animation: swing 4s linear alternate infinite;
	border: 20px solid #066;
	border-radius: 50%;
}

.main-container .main-content .home .effect-wrap .effect.effect-5 {
	top: 15%;
	left: 30%;
	-webkit-animation: spin 10s linear infinite;
	animation: spin 10s linear infinite;
	border-width: 25px;
	border-style: solid;
	border-top-color: transparent;
	border-right-color: green;
	border-bottom-color: transparent;
	border-left-color: transparent;
}

.main-container .main-content .home .effect-wrap .effect.effect-6 {
	top: 40%;
	left: 10%;
	width: 40px;
	height: 40px;
	-webkit-animation: spinCircle 2s linear alternate infinite;
	animation: spinCircle 2s linear alternate infinite;
	border-radius: 50%;
	background: #997a00;
}

.main-container .main-content .home .effect-wrap .effect.effect-7 {
	top: 10%;
	left: 6%;
	-webkit-animation: e7 1s linear alternate infinite;
	animation: e7 1s linear alternate infinite;
	border-width: 20px;
	border-style: solid;
	border-top-color: #007a99;
	border-right-color: #007a99;
	border-bottom-color: #f93;
	border-left-color: #f93;
}

.main-container .main-content .home .effect-wrap .effect.effect-8 {
	top: 15%;
	left: 6%;
	-webkit-animation: e7 1s linear alternate infinite;
	animation: e7 1s linear alternate infinite;
	border-width: 20px;
	border-style: solid;
	border-top-color: #036;
	border-right-color: #036;
	border-bottom-color: #ec1839;
	border-left-color: #ec1839;
}

.main-container .main-content .home .effect-wrap .effect.effect-9 {
	top: 20%;
	left: 6%;
	-webkit-animation: e7 1s linear alternate infinite;
	animation: e7 1s linear alternate infinite;
	border-width: 20px;
	border-style: solid;
	border-top-color: #f93;
	border-right-color: #f93;
	border-bottom-color: #036;
	border-left-color: #036;
}

.main-container .main-content .home .effect-wrap .effect.effect-10 {
	top: 25%;
	left: 6%;
	-webkit-animation: e7 1s linear alternate infinite;
	animation: e7 1s linear alternate infinite;
	border-width: 20px;
	border-style: solid;
	border-top-color: #ec1839;
	border-right-color: #ec1839;
	border-bottom-color: #007a99;
	border-left-color: #007a99;
}

.main-container .main-content .home .effect-wrap .effect.effect-11 {
	top: 20%;
	left: 22%;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ac3973;
}

.main-container .main-content .home .effect-wrap .effect.effect-12 {
	top: 65%;
	left: 25%;
}

.main-container .main-content .home .effect-wrap .effect.effect-12 i {
	font-size: 45px;
	color: #c40;
}

.main-container .main-content .home .effect-wrap .effect.effect-13 {
	top: 15%;
	right: 15%;
	-webkit-animation: spin 10s linear infinite;
	animation: spin 10s linear infinite;
}

.main-container .main-content .home .effect-wrap .effect.effect-13 i {
	font-size: 70px;
	color: #ec1839;
}

.main-container .main-content .home .effect-wrap .effect.effect-14 {
	right: 12%;
	bottom: 10%;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #007a99;
}

.main-container .main-content .home .effect-wrap .effect.effect-15 {
	right: 9%;
	bottom: 9%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #f93;
}

.main-container .main-content .home .intro {
	max-width: 1100px;
	margin: auto;
	padding: 0 30px;
	text-align: center;
}

.main-container .main-content .home .intro img {
	display: inline-block;
	width: 200px;
	height: 200px;
	border: 8px solid #fff;
	border-radius: 50%;
	-o-object-fit: cover;
	object-fit: cover;
}

.main-container .main-content .home .intro img.shadow-dark {
	box-shadow: 0 0 20px rgba(48, 46, 77, .15);
}

.main-container .main-content .home .intro p {
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	font-weight: 700;
	margin: 20px 0;
	color: #fff;
}

.main-container .main-content .home .intro p:hover ~ .cursor {
	transform: scale(3);
}

.main-container .main-content .home .intro .wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-container .main-content .home .intro .wrapper .dynamic-txt {
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

.main-container .main-content .home .intro .wrapper .dynamic-txt span {
	padding: 4px;
	color: #fff;
	border-radius: 4px;
	background: rgba(236, 24, 57, .9);
}

.main-container .main-content .home .intro .wrapper .dynamic-txt .typed-cursor {
	background: none;
}

.main-container .main-content .home .intro .wrapper:hover ~ .cursor {
	transform: scale(3);
}

.main-container .main-content .home .intro .social-link {
	margin-top: 25px;
}

.main-container .main-content .home .intro .social-link:hover ~ .cursor {
	transform: scale(4);
}

.main-container .main-content .home .intro .social-link a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	margin: 0 4px;
	transition: all .3s ease;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	background: #ec1839;
}

.main-container .main-content .home .intro .social-link a:hover {
	transform: scale(1.1);
}

.main-container .main-content .home .intro .cursor {
	position: fixed;
	width: 30px;
	height: 30px;
	transition: .1s;
	transform: translate(-50%, -50%);
	pointer-events: none;
	border-radius: 50%;
	background: white;
	mix-blend-mode: difference;
}

.main-container .main-content .about {
	padding: 0 30px;
	padding-top: 70px;
	background: rgba(15, 15, 10, .8);
}

.main-container .main-content .about .title-about {
	margin-bottom: 60px;
}

.main-container .main-content .about .title-about h2 {
	font-size: 40px;
	font-weight: 700;
	position: relative;
	color: #fff;
}

.main-container .main-content .about .title-about h2::before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 50px;
	height: 4px;
	content: '';
	background: #ec1839;
}

.main-container .main-content .about .title-about h2::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 25px;
	height: 4px;
	margin-top: 8px;
	content: '';
	background: #ec1839;
}

.main-container .main-content .about .text-about h3 {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #fff;
}

.main-container .main-content .about .text-about h3 span {
	color: #ec1839;
}

.main-container .main-content .about .text-about p {
	line-height: 25px;
	color: #fff;
}

.main-container .main-content .about .personal-info {
	margin-top: 40px;
}

.main-container .main-content .about .personal-info .row .col-xlg-7 .info .row p {
	font-weight: 600;
	padding: 10px 0;
	color: #fff;
	border-bottom: 1px solid #e8dfec;
}

.main-container .main-content .about .personal-info .row .col-xlg-7 .info .row p span {
	font-weight: 400;
	display: inline-block;
	margin-left: 4px;
	color: #fff;
}

.main-container .main-content .about .personal-info .row .col-xlg-5 .skills .skill-item {
	margin-bottom: 30px;
}

.main-container .main-content .about .personal-info .row .col-xlg-5 .skills .skill-item h5 {
	font-size: 16px;
	font-weight: 600;
	line-height: 40px;
	text-transform: capitalize;
	color: #fff;
}

.main-container .main-content .about .personal-info .row .col-xlg-5 .skills .skill-item .progress {
	position: relative;
	width: 100%;
	height: 8px;
	border-radius: 4px;
	background: #e3e3e3;
}

.main-container .main-content .about .personal-info .row .col-xlg-5 .skills .skill-item .progress .progress-in {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	border-radius: 4px;
	background: red;
}

.main-container .main-content .about .personal-info .row .col-xlg-5 .skills .skill-item .progress .skill-percent {
	font-weight: 400;
	line-height: 40px;
	position: absolute;
	top: -40px;
	right: 0;
}

.main-container .main-content .education {
	padding: 0 30px;
	padding-top: 70px;
	background: linear-gradient(to right, #232526, #414345);
}

.main-container .main-content .education .title-education {
	margin-bottom: 60px;
}

.main-container .main-content .education .title-education h2 {
	font-size: 40px;
	font-weight: 700;
	position: relative;
	color: #fff;
}

.main-container .main-content .education .title-education h2::before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 50px;
	height: 4px;
	content: '';
	background: #ec1839;
}

.main-container .main-content .education .title-education h2::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 25px;
	height: 4px;
	margin-top: 8px;
	content: '';
	background: #ec1839;
}

.main-container .main-content .education .row .timeline {
	padding: 30px 15px;
	border-radius: 10px;
	background: white;
}

.main-container .main-content .education .row .timeline .timeline-item {
	position: relative;
	padding-bottom: 50px;
	padding-left: 37px;
}

.main-container .main-content .education .row .timeline .timeline-item .circle-dot {
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #ec1839;
}

.main-container .main-content .education .row .timeline .timeline-item .timeline-date {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 12px;
	color: gray;
}

.main-container .main-content .education .row .timeline .timeline-item .timeline-date i {
	margin-right: 5px;
}

.main-container .main-content .education .row .timeline .timeline-item .timeline-title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 18px;
	text-transform: capitalize;
}

.main-container .main-content .education .row .timeline .timeline-item::before {
	position: absolute;
	top: 0;
	left: 7px;
	width: 1px;
	height: 100%;
	content: '';
	background: #ec1839;
}

.main-container .main-content .education .row .timeline .timeline-item:last-child {
	padding-bottom: 0;
}

.main-container .main-content .project {
	padding: 0 30px;
	padding-top: 70px;
	background: rgba(15, 15, 10, .8);
}

.main-container .main-content .project .title-project {
	margin-bottom: 60px;
}

.main-container .main-content .project .title-project h2 {
	font-size: 40px;
	font-weight: 700;
	position: relative;
	color: #fff;
}

.main-container .main-content .project .title-project h2::before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 50px;
	height: 4px;
	content: '';
	background: #ec1839;
}

.main-container .main-content .project .title-project h2::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 25px;
	height: 4px;
	margin-top: 8px;
	content: '';
	background: #ec1839;
}

.main-container .main-content .project .row .thumbnail {
	width: 93%;
	border-radius: 8px;
	background: rgba(15, 15, 10, .3);
}

.main-container .main-content .project .row .thumbnail:hover .img img {
	transform: scale(1.1);
}

.main-container .main-content .project .row .thumbnail .img {
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

.main-container .main-content .project .row .thumbnail .img img {
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: .7s;
	-o-object-fit: cover;
	object-fit: cover;
}

.main-container .main-content .project .row .thumbnail .content-thumbnail {
	padding: 20px;
}

.main-container .main-content .project .row .thumbnail .content-thumbnail a {
	font-size: 22px;
	font-weight: 700;
	display: inline-block;
	padding-bottom: 20px;
	transition: .3s;
	color: #fff;
}

.main-container .main-content .project .row .thumbnail .content-thumbnail a:hover {
	color: #ec1839;
}

.main-container .main-content .project .row .thumbnail .content-thumbnail p {
	padding-bottom: 5px;
	color: #fff;
}

.main-container .main-content .project .row .thumbnail .content-thumbnail p a {
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 0;
	color: #668cff;
}

.main-container .main-content .gotop {
	position: fixed;
	z-index: 999;
	right: 30px;
	bottom: 60px;
	display: none;
	width: 50px;
	height: 50px;
	cursor: pointer;
	transition: all .3s;
	border-radius: 50%;
	background: #1a1a1a;
}

.main-container .main-content .gotop::after {
	position: absolute;
	top: 45%;
	left: 33%;
	width: 16px;
	height: 3px;
	content: '';
	transition: all .3s;
	transform: translateX(30%) rotate(45deg);
	border-radius: 3px;
	background-color: #fff;
}

.main-container .main-content .gotop::before {
	position: absolute;
	top: 45%;
	left: 33%;
	width: 16px;
	height: 3px;
	content: '';
	transition: all .3s;
	transform: translateX(-30%) rotate(-45deg);
	border-radius: 3px;
	background-color: #fff;
}

.main-container .main-content .gotop:hover {
	background: #ba933e;
}

.main-container .main-content .gotop:hover::after {
	transform: translateX(36%) rotate(35deg);
}

.main-container .main-content .gotop:hover::before {
	transform: translateX(-36%) rotate(-35deg);
}

.hidden {
	display: none;
}

@media (min-width: 1201px) {

.row .col-xlg-1 {
	width: 8.33333%;
	padding: 15px;
}

.row .col-xlg-2 {
	width: 16.66667%;
	padding: 15px;
}

.row .col-xlg-3 {
	width: 25%;
	padding: 15px;
}

.row .col-xlg-4 {
	width: 33.33333%;
	padding: 15px;
}

.row .col-xlg-5 {
	width: 41.66667%;
	padding: 15px;
}

.row .col-xlg-6 {
	width: 50%;
	padding: 15px;
}

.row .col-xlg-7 {
	width: 58.33333%;
	padding: 15px;
}

.row .col-xlg-8 {
	width: 66.66667%;
	padding: 15px;
}

.row .col-xlg-9 {
	width: 75%;
	padding: 15px;
}

.row .col-xlg-10 {
	width: 83.33333%;
	padding: 15px;
}

.row .col-xlg-11 {
	width: 91.66667%;
	padding: 15px;
}

.row .col-xlg-12 {
	width: 100%;
	padding: 15px;
}

}

@media (max-width: 1200px) {

.row .col-lg-1 {
	width: 8.33333%;
	padding: 15px;
}

.row .col-lg-2 {
	width: 16.66667%;
	padding: 15px;
}

.row .col-lg-3 {
	width: 25%;
	padding: 15px;
}

.row .col-lg-4 {
	width: 33.33333%;
	padding: 15px;
}

.row .col-lg-5 {
	width: 41.66667%;
	padding: 15px;
}

.row .col-lg-6 {
	width: 50%;
	padding: 15px;
}

.row .col-lg-7 {
	width: 58.33333%;
	padding: 15px;
}

.row .col-lg-8 {
	width: 66.66667%;
	padding: 15px;
}

.row .col-lg-9 {
	width: 75%;
	padding: 15px;
}

.row .col-lg-10 {
	width: 83.33333%;
	padding: 15px;
}

.row .col-lg-11 {
	width: 91.66667%;
	padding: 15px;
}

.row .col-lg-12 {
	width: 100%;
	padding: 15px;
}

}

@media (max-width: 992px) {

.row .col-md-1 {
	width: 8.33333%;
	padding: 15px;
}

.row .col-md-2 {
	width: 16.66667%;
	padding: 15px;
}

.row .col-md-3 {
	width: 25%;
	padding: 15px;
}

.row .col-md-4 {
	width: 33.33333%;
	padding: 15px;
}

.row .col-md-5 {
	width: 41.66667%;
	padding: 15px;
}

.row .col-md-6 {
	width: 50%;
	padding: 15px;
}

.row .col-md-7 {
	width: 58.33333%;
	padding: 15px;
}

.row .col-md-8 {
	width: 66.66667%;
	padding: 15px;
}

.row .col-md-9 {
	width: 75%;
	padding: 15px;
}

.row .col-md-10 {
	width: 83.33333%;
	padding: 15px;
}

.row .col-md-11 {
	width: 91.66667%;
	padding: 15px;
}

.row .col-md-12 {
	width: 100%;
	padding: 15px;
}

.main-container .hamburger {
	display: block;
}

.main-container .aside {
	transform: translateX(-100%);
}

.main-container .aside.active {
	transition: all .3s;
	transform: translateX(0);
}

.main-container .main-content {
	padding-left: 0;
}

}

@media (max-width: 768px) {

.row .col-sm-1 {
	width: 8.33333%;
	padding: 15px;
}

.row .col-sm-2 {
	width: 16.66667%;
	padding: 15px;
}

.row .col-sm-3 {
	width: 25%;
	padding: 15px;
}

.row .col-sm-4 {
	width: 33.33333%;
	padding: 15px;
}

.row .col-sm-5 {
	width: 41.66667%;
	padding: 15px;
}

.row .col-sm-6 {
	width: 50%;
	padding: 15px;
}

.row .col-sm-7 {
	width: 58.33333%;
	padding: 15px;
}

.row .col-sm-8 {
	width: 66.66667%;
	padding: 15px;
}

.row .col-sm-9 {
	width: 75%;
	padding: 15px;
}

.row .col-sm-10 {
	width: 83.33333%;
	padding: 15px;
}

.row .col-sm-11 {
	width: 91.66667%;
	padding: 15px;
}

.row .col-sm-12 {
	width: 100%;
	padding: 15px;
}

}

@media (max-width: 576px) {

.row .col-xs-1 {
	width: 8.33333%;
	padding: 15px;
}

.row .col-xs-2 {
	width: 16.66667%;
	padding: 15px;
}

.row .col-xs-3 {
	width: 25%;
	padding: 15px;
}

.row .col-xs-4 {
	width: 33.33333%;
	padding: 15px;
}

.row .col-xs-5 {
	width: 41.66667%;
	padding: 15px;
}

.row .col-xs-6 {
	width: 50%;
	padding: 15px;
}

.row .col-xs-7 {
	width: 58.33333%;
	padding: 15px;
}

.row .col-xs-8 {
	width: 66.66667%;
	padding: 15px;
}

.row .col-xs-9 {
	width: 75%;
	padding: 15px;
}

.row .col-xs-10 {
	width: 83.33333%;
	padding: 15px;
}

.row .col-xs-11 {
	width: 91.66667%;
	padding: 15px;
}

.row .col-xs-12 {
	width: 100%;
	padding: 15px;
}

.main-container .main-content .home .effect-wrap .effect.effect-1 {
	display: none;
}

.main-container .main-content .home .effect-wrap .effect.effect-4 {
	display: none;
}

.main-container .main-content .home .effect-wrap .effect.effect-11 {
	display: none;
}

.main-container .main-content .home .effect-wrap .effect.effect-12 {
	display: none;
}

.main-container .main-content .home .effect-wrap .effect.effect-13 {
	display: none;
}

.main-container .main-content .home .intro .wrapper .dynamic-txt {
	font-size: 22px;
}

.main-container .main-content .home .intro .cursor {
	display: none;
}

.main-container .main-content .about .title-about h2 {
	font-size: 38px;
}

.main-container .main-content .about .text-about h3 {
	font-size: 22px;
}

.main-container .main-content .about .text-about p {
	font-size: 14px;
}

.main-container .main-content .about .personal-info .row .col-xlg-7 .info .row p {
	font-size: 14px;
}

.main-container .main-content .about .personal-info .row .col-xlg-7 .info .row p span {
	font-size: 14px;
}

.main-container .main-content .about .personal-info .row .col-xlg-5 .skills .skill-item h5 {
	font-size: 14px;
}

.main-container .main-content .project .title-project h2 {
	font-size: 38px;
}

.main-container .main-content .project .row .thumbnail .content-thumbnail a {
	font-size: 20px;
}

.main-container .main-content .project .row .thumbnail .content-thumbnail p {
	font-size: 14px;
}

.main-container .main-content .project .row .thumbnail .content-thumbnail p a {
	font-size: 14px;
}

}

@media (max-width: 400px) {

.main-container .main-content .home .intro .wrapper .dynamic-txt {
	font-size: 20px;
}

.main-container .main-content .about .personal-info .row .col-xlg-7 .info .row p {
	font-size: 11px;
}

.main-container .main-content .about .personal-info .row .col-xlg-7 .info .row p span {
	font-size: 11px;
}

.main-container .main-content .about .personal-info .row .col-xlg-5 .skills .skill-item h5 {
	font-size: 12px;
}

.main-container .main-content .project .row .thumbnail .content-thumbnail a {
	font-size: 18px;
}

.main-container .main-content .project .row .thumbnail .content-thumbnail p {
	font-size: 12px;
}

.main-container .main-content .project .row .thumbnail .content-thumbnail p a {
	font-size: 12px;
}

}
